.question-page {
  width: 70%;
  display: grid;
  grid-template-areas:
    "home title categ"
    "quest quest quest";
  row-gap: 20px;
  transition: all 500ms;
  justify-items: center;
  position: relative;
}

.categ-button {
  grid-area: categ;
  justify-self: right;
  background-image: url(../../../public/categ.svg);
}

.question-wrapper {
  grid-area: quest;
  display: flex;
  width: 100%;
}

.artists-question-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pictures-question-wrapper {
  width: calc(50vw - 90px);
}
.pictures-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  position: relative;
}
.question-image {
  display: block;
  border-radius: 15px;
}
.artist-image {
  max-height: 600px;
  object-fit: contain;
  border-radius: 15px;
}
.pictures-image {
  width: calc((50vw - 100px) / 2);
  transition: 0.5s;
}
.pictures-image:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 0px #660033;
  transform: scale(1.01);
  transition: 0.5s;
}
.artist-answers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}
.artist-answers-container p {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  color: black;
  font-weight: bolder;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #663300;
  cursor: pointer;
  text-transform: none;
  text-align: center;
  font-size: 0.9rem;
  box-sizing: border-box;
  transition: 0.5s;
}

.artist-answers-container p:hover {
  background-color: rgb(196, 196, 196);
  transition: 0.5s;
}

.score-rad-container {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  left: calc(50% - 105px);
}

.circle {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 1500px) {
  .artist-image {
    width: 50vw;
  }
  .pictures-question-wrapper {
    width: calc(50vw - 60px);
  }
  .pictures-image {
    width: calc((50vw - 70px) / 2);
  }
}
@media screen and (max-width: 768px) {
  .question-page {
    width: 95%;
    & .home-button,
    .categ-button {
      font-size: 0;
      width: 50px;
      justify-self: unset;
    }
  }
  .question-image {
    max-height: 500px;
    height: 90vw;
    object-fit: cover;
  }
  .pictures-question-wrapper {
    width: calc(50vw + 160px);
  }
  .artist-image {
    max-height: 500px;
    width: calc(50vw + 160px);
  }
  .pictures-image {
    max-height: 200px;
    width: calc((50vw + 150px) / 2);
  }
  .question-title {
    font-size: 1rem;
    align-self: center;
    text-align: center;
  }
}
