.main-page {
  width: 70%;
  display: grid;
  grid-template-areas:
    "title title"
    "artists pictures"
    "settings settings";
  justify-items: center;
  gap: 100px 40px;
  transition: all 500ms;
  & .settings-button {
    grid-area: settings;
  }

  & .page-title {
    grid-area: title;
  }
}

@media screen and (max-width: 768px) {
  .main-page {
    gap: 20px;
    grid-template-areas:
      "title"
      "artists"
      "pictures"
      "settings";
  }
}
