.main-page {
  width: 70%;
  display: grid;
  grid-template-areas:
    "title title"
    "artists pictures"
    "settings settings";
  justify-items: center;
  gap: 20px;
  transition: all 500ms;
  & .settings-button {
    grid-area: settings;
  }

  & .main-title {
    grid-area: title;
  }
}
