.question-page {
  width: 70%;
  display: grid;
  grid-template-areas:
    "home title categ"
    "quest quest quest";
  row-gap: 20px;
  transition: all 500ms;
  justify-items: center;
  position: relative;
}

.categ-button {
  grid-area: categ;
  justify-self: right;
  background-image: url(../../public/categ.svg);
}

.question-wrapper {
  grid-area: quest;
  display: flex;
  width: 100%;
}

.artists-question-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pictures-question-wrapper {
  flex-wrap: wrap;
  column-gap: 2%;
  row-gap: 20px;
}
// .artist-image-container {
//   width: 1000px;
//   height: 100%;
//   background-color: rgba(102, 102, 102, 0.267);
// }
.pictures-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.question-image {
  display: block;
  width: calc(50vw - 90px);
  border-radius: 15px;
}
.artist-answers-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}
.artist-answers-container p {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  color: black;
  font-weight: bolder;
  border-radius: 15px;
  box-shadow: 2px 2px 5px #663300;
  cursor: pointer;
  text-transform: none;
  text-align: center;
  font-size: 0.9rem;
  box-sizing: border-box;
  transition: 0.5s;
}

.artist-answers-container p:hover {
  background-color: rgb(196, 196, 196);
  transition: 0.5s;
}
@media screen and (max-width: 1500px) {
  .question-image {
    display: block;
    width: 50vw;
    border-radius: 15px;
  }
}
@media screen and (max-width: 768px) {
  .question-page {
    width: 95%;
    & .home-button,
    .categ-button {
      font-size: 0;
      width: 50px;
      justify-self: unset;
    }
  }
  .question-image {
    width: calc(50vw + 160px);
    max-height: 500px;
    height: 90vw;
    object-fit: cover;
  }
  .question-title {
    font-size: 1rem;
    align-self: center;
    text-align: center;
  }
}
