.page-title {
  text-align: center;
}

.logo {
  width: 220px;
  height: 140px;
  background-image: url("../../public/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.page-title-text {
  margin-top: 10px;
  width: 220px;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 150px;
    height: 64px;
    margin: 0 auto;
  }
  .page-title-text {
    font-size: 1.25rem;
  }
}
