.toys-page {
  max-width: 1600px;
  width: 85vw;
}
.controls-container {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
}
.toys-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
