@import "../../variables.scss";

.toys-page {
  max-width: 1600px;
  width: 85vw;
  min-height: calc(100vh - 140px);
}
.controls-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  width: 100%;
}
.toys-container {
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.marked {
  transition: 0.5s;
  .ribbon {
    background-color: $ribbonMarkedColor;
  }
  .ribbon::after {
    border-left-color: $ribbonMarkedColor;
  }
}
.book-popup {
  display: none;
  position: fixed;
  background: $blackTransparentMore;
  box-shadow: 0 0 5px black;
  padding: 3px 6px;
  color: white;
  font: inherit;
  transition: 0.5s;
  opacity: 0;
  border-radius: 10px;
}
.noresult-info {
  margin: 0 auto;
  font-size: 2rem;
}
