.toys-page {
  max-width: 1600px;
  width: 85vw;
}
.controls-container {
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  border: 1px solid white;
}
.toys-container {
  margin-top: 50px;
  border: 1px solid white;
  width: 100%;
  height: 300px;
}
