$cardBgColor: rgba(175, 224, 220, 0.3);
$cardAmountBgColor: rgb(0, 107, 207);
$lightsOnButton: #003a0e;
$lightsOffButton: #4f4f4f;
$lightsOffButtonBg: #e4e4e4;
$lightsOnButtonBg: #00f73e;
$blackTransparent: rgba(0, 0, 0, 0.2);
$blackTransparentMore: rgba(0, 0, 0, 0.8);
$transparent: rgba(255, 255, 255, 0);
$blockBgColor: rgba(31, 112, 127, 0.3);
$buttonBorder: #278d9f;
$globe-width: 6px;
$globe-height: 6px;
$globe-spacing: 12px;
$globe-spread: 2px;
$light-off-opacity: 0.4;
$redLightAnim: rgba(247, 0, 118, 0.4);
$redLightAnimSmall: rgba(247, 0, 118, 0.2);
$yellowLightAnim: rgba(255, 255, 0, 0.4);
$yellowLightAnimSmall: rgba(255, 255, 0, 0.2);
$blueLightAnim: rgba(1, 1, 88, 0.4);
$blueLightAnimSmall: rgba(1, 1, 88, 0.2);
$deeppinkLightAnim: rgba(114, 5, 63, 0.4);
$deeppinkLightAnimSmall: rgba(114, 5, 63, 0.2);
$ribbonColor: #24c5db;
$ribbonMarkedColor: #cbb77a;
$optionsColor: #183e42;
$bgColor: #192f2d;
$basePageWidth: 85vw;