$cardBgColor: rgba(175, 224, 220, 0.3);
$cardAmountBgColor: rgb(0, 107, 207);
$lightsOnButton: #003a0e;
$lightsOffButton: #4f4f4f;
$lightsOffButtonBg: #e4e4e4;
$lightsOnButtonBg: #00f73e;
$blackTransparent: rgb(0 0 0 / 20%);
