$cardBgColor: rgba(175, 224, 220, 0.3);
$cardAmountBgColor: rgb(0, 107, 207);
$lightsOnButton: #003a0e;
$lightsOffButton: #4f4f4f;
$lightsOffButtonBg: #e4e4e4;
$lightsOnButtonBg: #00f73e;
$blackTransparent: rgb(0 0 0 / 20%);
$transparent: rgba(255, 255, 255, 0);
$resetButton: rgba(31, 112, 127, 0.3);
$buttonBorder: #278d9f;
