@import "../../variables.scss";

.buttons-container {
  padding-top: 20px;
  display: flex;
  button {
    width: 40px;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
  }
  .sound-button {
    background-image: url(../../assets/svg/mute.svg);
    margin-right: 40px;
  }
  .sound-active {
    background-image: url(../../assets/svg/audio.svg);
  }
  .snow-button {
    background-image: url(../../assets/svg/snow.svg);
    margin-right: 40px;
  }
  button.reset {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $buttonBorder;
    background-color: $blockBgColor;
    backdrop-filter: blur(6px);
    color: white;
    font: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    outline: 1px solid white;
    margin: 0;
  }
  button.reset:hover {
    outline-offset: 10px;
    outline: 1px solid $transparent;
    transition: 0.5s;
  }
  button.reset:active {
    box-shadow: inset 0 0 5px 3px black;
  }
}

.tree-settings {
  width: calc(85vw / 4);
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tree-type-container,
.background-type-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  padding-top: 20px;
  padding-right: 20px;
}
.tree-type-container::before,
.background-type-container::before,
.lights-container::before {
  content: "Выберите ёлку";
  position: absolute;
  top: -5px;
}
.background-type-container {
  gap: 5px;
  padding-right: 20px;
}
.tree-type-container::before {
  content: "Выберите ёлку";
}
.background-type-container::before {
  content: "Выберите фон";
}
.tree-type,
.bg-type {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $cardBgColor;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.5s;
}
.type-active {
  box-shadow: $blackTransparent 0 1px 7px 1px, $lightsOnButtonBg 0 0 10px;
}
.bg-type {
  width: 60px;
  height: 60px;
  background-size: cover;
}
.lights-container {
  display: flex;
  position: relative;
  padding-top: 20px;
}
.lights-container::before {
  content: "Выберите гирлянду";
}
.lights-type-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.light-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.tree-type:hover,
.bg-type:hover,
.light-button:hover {
  filter: saturate(1.2);
  box-shadow: $blackTransparent 0 1px 7px 1px, $lightsOffButtonBg 0 0 10px;
  transition: 0.5s;
}
.light-multi {
  background: linear-gradient(90deg, red, yellow, blue, deeppink);
}
.light-red {
  background-color: red;
}
.light-yellow {
  background-color: yellow;
}
.light-blue {
  background-color: blue;
}
.light-deeppink {
  background-color: deeppink;
}
.lights-off-container {
  margin-left: 35px;
}
.lights-off-label {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
  border-radius: 190px;
  cursor: pointer;
  transition: 0.4s;
  background: $lightsOffButton;
  font-size: 13px;
  padding: 5px 5px 5px 10px;
}
.lights-off-button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.lights-off-label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 6px;
  top: 5px;
  border-radius: 50%;
  background-color: $lightsOffButtonBg;
  transition: 0.4s;
}
.lights-off-button:checked + .lights-off-label {
  background-color: $lightsOnButtonBg;
  color: $lightsOnButton;
}
.lights-off-button:checked + .lights-off-label::before {
  transform: translateX(22px);
  background-color: $lightsOnButton;
}
.snow-active {
  filter: brightness(0) saturate(100%) invert(77%) sepia(18%) saturate(6956%)
    hue-rotate(81deg) brightness(96%) contrast(118%);
}
