@import "../../variables.scss";

.filters-title {
  text-transform: uppercase;
}
.shape-filter,
.color-filter,
.size-filter,
.favorite-filter-container {
  display: flex;
  align-items: center;
}
.shape-filter {
  button {
    width: 40px;
    height: 40px;
    margin: 10px 7px;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.5s;
  }
  button:hover {
    filter: brightness(0.6);
  }
  .shape-size-active {
    filter: brightness(0) saturate(100%) invert(80%) sepia(50%) saturate(292%)
      hue-rotate(3deg) brightness(86%) contrast(87%);
    transition: 0.5s;
  }
}
.ball {
  background-image: url(../../assets/svg/ball.svg);
}
.bell {
  background-image: url(../../assets/svg/bell.svg);
}
.cone {
  background-image: url(../../assets/svg/cone.svg);
}
.snowflake {
  background-image: url(../../assets/svg/snowflake.svg);
}
.figure {
  background-image: url(../../assets/svg/toy.svg);
}
.color-filter {
  button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 15px 10px;
    border: 1px solid $buttonBorder;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    transition: 0.5s;
  }
  button:hover {
    border-color: white;
  }
  .color-active {
    transition: 0.5s;
    position: relative;
  }
  .color-active::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 9px;
    width: 6px;
    height: 10px;
    border: solid black;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
  }
}
.filter-color-white {
  background-color: white;
}
.filter-color-yellow {
  background-color: yellow;
}
.filter-color-red {
  background-color: red;
}
.filter-color-blue {
  background-color: blue;
}
.filter-color-green {
  background-color: green;
}

.size-filter {
  button {
    width: 50px;
    height: 50px;
    margin: 10px 7px;
    border: 0;
    outline: 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/svg/ball.svg);
    cursor: pointer;
    transition: 0.5s;
  }
  button:hover {
    filter: brightness(0.6);
  }
  button:nth-child(2) {
    width: 40px;
    height: 40px;
  }
  button:nth-child(3) {
    width: 30px;
    height: 30px;
  }
  .shape-size-active {
    filter: brightness(0) saturate(100%) invert(80%) sepia(50%) saturate(292%)
      hue-rotate(3deg) brightness(86%) contrast(87%);
    transition: 0.5s;
  }
}
.favorite-filter {
  display: none;
}
.input-label {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  backdrop-filter: blur(6px);
  border: 1px solid $buttonBorder;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.input-label:hover {
  background-color: $buttonBorder;
}
.favorite-filter:checked + .input-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

@media (max-width: 1024px) {
  .controls-container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
