.categories {
  width: 57%;
  display: grid;
  grid-template-areas:
    "home title"
    "cards cards";
  row-gap: 20px;
  transition: all 500ms;
}

.page-title {
  grid-area: title;
}

.cards-wrapper {
  width: 100%;
  grid-area: cards;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

@media screen and (max-width: 880px) {
  .categories {
    width: 95%;
    grid-template-areas:
      "title"
      "home"
      "cards";
    justify-items: center;
  }
  .cards-wrapper {
    gap: 20px;
    grid-template-areas:
      "title"
      "artists"
      "pictures"
      "settings";
    justify-content: center;
  }
}
